<div class="container">

  <div class="card" style="width: 50rem; top:3rem ;left:10rem">
    <div class="card-body" style="margin: 5px">
      <H2>ID: {{customer.id}}</H2>
    </div>
  </div>
  <div class="card" style="width: 50rem; top:4rem ;left:10rem">
    <div class="card-body" style="margin: 5px">
      <H2>NAME: {{customer.name}}</H2>

    </div>
  </div>
  <div class="card" style="width: 50rem; top:5rem ;left:10rem">
    <div class="card-body" style="margin: 5px">
      <H2>EMAIL: {{customer.email}}</H2>

    </div>
  </div>



</div>
